@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?650932');
  src: url('../font/fontello.eot?650932#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?650932') format('woff'),
       url('../font/fontello.ttf?650932') format('truetype'),
       url('../font/fontello.svg?650932#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?650932#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-spin5:before { content: '\e800'; } /* 'î €' */
.icon-plus-squared:before { content: '\e801'; } /* 'î �' */
.icon-plus-circled:before { content: '\e802'; } /* 'î ‚' */
.icon-cog-alt:before { content: '\e803'; } /* 'î ƒ' */
.icon-angle-circled-right:before { content: '\e804'; } /* 'î „' */
.icon-angle-right:before { content: '\e805'; } /* 'î …' */
.icon-right-open:before { content: '\e806'; } /* 'î †' */
.icon-right-dir:before { content: '\e807'; } /* 'î ‡' */
.icon-angle-double-right:before { content: '\e808'; } /* 'î ˆ' */
.icon-right-circled:before { content: '\e809'; } /* 'î ‰' */
.icon-right-big:before { content: '\e80a'; } /* 'î Š' */
.icon-right:before { content: '\e80b'; } /* 'î ‹' */
.icon-trash:before { content: '\e80c'; } /* 'î Œ' */
.icon-trash-empty:before { content: '\e80d'; } /* 'î �' */
.icon-upload:before { content: '\e80e'; } /* 'î Ž' */
.icon-folder-open:before { content: '\e80f'; } /* 'î �' */
.icon-folder-open-empty:before { content: '\e810'; } /* 'î �' */
.icon-cog:before { content: '\e811'; } /* 'î ‘' */
.icon-ok:before { content: '\e812'; } /* 'î ’' */
.icon-ok-circled:before { content: '\e813'; } /* 'î “' */
.icon-plus:before { content: '\e814'; } /* 'î ”' */
.icon-align-left:before { content: '\e815'; } /* 'î •' */
.icon-align-justify:before { content: '\e816'; } /* 'î –' */
.icon-align-center:before { content: '\e817'; } /* 'î —' */
.icon-right-circle:before { content: '\e818'; } /* 'î ˜' */
.icon-right-dir-1:before { content: '\e819'; } /* 'î ™' */
.icon-indent-left:before { content: '\e81a'; } /* 'î š' */
.icon-progress-6:before { content: '\e81b'; } /* 'î ›' */
.icon-progress-4:before { content: '\e81c'; } /* 'î œ' */
.icon-progress-2:before { content: '\e81d'; } /* 'î �' */
.icon-progress-1:before { content: '\e81e'; } /* 'î ž' */
.icon-progress-0:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-progress-3:before { content: '\e820'; } /* 'î  ' */
.icon-progress-7:before { content: '\e821'; } /* 'î ¡' */
.icon-progress-5:before { content: '\e822'; } /* 'î ¢' */
.icon-th-list:before { content: '\e823'; } /* 'î £' */
.icon-cog-1:before { content: '\e824'; } /* 'î ¤' */