@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?650932');
  src: url('../font/fontello.eot?650932#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?650932') format('woff'),
       url('../font/fontello.ttf?650932') format('truetype'),
       url('../font/fontello.svg?650932#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?650932#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-spin5:before { content: '\e800'; } /* '' */
.icon-plus-squared:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-cog-alt:before { content: '\e803'; } /* '' */
.icon-angle-circled-right:before { content: '\e804'; } /* '' */
.icon-angle-right:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-right-dir:before { content: '\e807'; } /* '' */
.icon-angle-double-right:before { content: '\e808'; } /* '' */
.icon-right-circled:before { content: '\e809'; } /* '' */
.icon-right-big:before { content: '\e80a'; } /* '' */
.icon-right:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-trash-empty:before { content: '\e80d'; } /* '' */
.icon-upload:before { content: '\e80e'; } /* '' */
.icon-folder-open:before { content: '\e80f'; } /* '' */
.icon-folder-open-empty:before { content: '\e810'; } /* '' */
.icon-cog:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-ok-circled:before { content: '\e813'; } /* '' */
.icon-plus:before { content: '\e814'; } /* '' */
.icon-align-left:before { content: '\e815'; } /* '' */
.icon-align-justify:before { content: '\e816'; } /* '' */
.icon-align-center:before { content: '\e817'; } /* '' */
.icon-right-circle:before { content: '\e818'; } /* '' */
.icon-right-dir-1:before { content: '\e819'; } /* '' */
.icon-indent-left:before { content: '\e81a'; } /* '' */
.icon-progress-6:before { content: '\e81b'; } /* '' */
.icon-progress-4:before { content: '\e81c'; } /* '' */
.icon-progress-2:before { content: '\e81d'; } /* '' */
.icon-progress-1:before { content: '\e81e'; } /* '' */
.icon-progress-0:before { content: '\e81f'; } /* '' */
.icon-progress-3:before { content: '\e820'; } /* '' */
.icon-progress-7:before { content: '\e821'; } /* '' */
.icon-progress-5:before { content: '\e822'; } /* '' */
.icon-th-list:before { content: '\e823'; } /* '' */
.icon-cog-1:before { content: '\e824'; } /* '' */